@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Outfit:wght@100..900&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');
@import 'tailwindcss';


::-webkit-scrollbar {
    width: 0px;
  }
  
a {
text-decoration: none;
color: inherit;
}

.font-decorative {
    font-family: "Ballet", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.font-primary {
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-style: normal;
}
