@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Poiret+One&family=Tangerine:wght@400;700&display=swap');
@import 'tailwindcss';


::-webkit-scrollbar {
    width: 0px;
  }
  
a {
text-decoration: none;
color: inherit;
}

.font-decorative {
  font-family: "Poiret One", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.font-primary {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
}

/* .font-decorative {
    font-family: "Dr Sugiyama", cursive;
    font-weight: 400;
    font-style: normal;
} */

/* .font-decorative {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
} */

/* .font-decorative {
    font-family: "Dynalight", cursive;
    font-weight: 400;
    font-style: normal;
} */

/* .font-primary {
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-style: normal;
} */

/* .font-decorative {
    font-family: "Luxurious Script", cursive;
    font-weight: 800;
    font-style: normal;
} */



/* GRADIENT TEXT */ 
.animated-gradient-text {
    position: relative;
    margin: 0 auto;
    display: flex;
    max-width: fit-content;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 1.25rem;
    font-weight: 500;
    backdrop-filter: blur(10px);
    transition: box-shadow 0.5s ease-out;
    overflow: visible;
    cursor: pointer;
}
  
.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: 300% 100%;
    animation: gradient linear infinite;
    border-radius: inherit;
    z-index: 0;
    pointer-events: none;
}

.gradient-overlay::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-radius: inherit;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #060010;
    z-index: -1;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.text-content {
    display: flex;
    position: relative;
    line-height: 1.1; /* a bit more than default */
    padding: 15px;
    z-index: 2;
    background-size: 300% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradient linear infinite;
}

/* Balatro */
.balatro-container {
    width: 100%;
    height: 100%;
}


.iridescence-container {
    width: 100%;
    height: 100%;
}

.balatro-custom {
    background-color: transparent;
    background-image:
    linear-gradient(rgba(133, 56, 12, 0.4), rgba(255, 255, 255, 0.3)),
    url("/assets/tree_pattern.png");
    backdrop-filter: invert(95px);
    background-attachment: fixed;
    background-size: 1200px;
    background-position: -50% 20%;
    -webkit-mask-image: linear-gradient(to bottom, rgb(0, 0, 0), transparent);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
}

.balatro-custom-1 {
  background-color: transparent;
  background-image:
  linear-gradient(rgba(133, 56, 12, 0.4), rgba(255, 255, 255, 0.3)),
  url("/assets/tree_pattern.png");
  backdrop-filter: invert(95px);
  background-attachment: fixed;
  background-size: 800px;
  background-position: 0% 20%;
  -webkit-mask-image: linear-gradient(to bottom, rgb(0, 0, 0), transparent);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
}
/* .balatro-custom-sm {
    background-color: transparent;
    background-image:
    linear-gradient(rgba(133, 56, 12, 0.4), rgba(132, 113, 8, 0.3)),
    url("/assets/tree_pattern.png");
    background-color: red;
    backdrop-filter: blur(15px);
    background-attachment: local;
    background-size: 100px;
    background-position: 10% 120%;
    -webkit-mask-image: linear-gradient(to bottom, rgb(199, 3, 3), transparent);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
}  */

/* .balatro-custom {
    background: url('/assets/rose_sketch.png') center/cover no-repeat;
    background-attachment: local;
    background-size: 1500px;
    background-position: 80% 60%;
    -webkit-mask-image: linear-gradient(to bottom, rgb(254, 254, 254), transparent);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
} */


/* .balatro-custom {
    background: linear-gradient(to bottom, rgb(255, 255, 255), transparent);
} */

/* Stack */
.stack-container {
    position: relative;
    perspective: 600px;
    justify-content: center;
}
  
.card-rotate {
    position: absolute;
    cursor: grab;
    justify-content: center;
}

.card {
    margin: auto;
    border-radius: 20px;
    border: 5px solid #fff;
    overflow: hidden;
}

.card-image {
    margin: auto;
    pointer-events: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg-primary {
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(177, 163, 133, 0.5));
}

.bg-gray-gradient {
    background:
    linear-gradient(217deg, rgba(121, 121, 121, 0.8), transparent 70.71%),
    linear-gradient(127deg, rgba(78, 78, 78, 0.8), transparent 70.71%),
    linear-gradient(336deg, rgba(59, 59, 59, 0.8), transparent 70.71%);
}

.bg-0 {
    background-image: url("/assets/white_flower.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover contain;
}

.bg-1 {
    background-image: url("/assets/white_branches.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover contain;
}

.bg-2 {
    background-image: url("/assets/house_tree.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-3 {
    background-image: url("/assets/book.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-4 {
    background-image: url("/assets/wall_plants.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-5 {
    background-image: url("/assets/card_texture.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-6 {
    background-image:
    linear-gradient(rgba(255, 255, 255, 0.4), rgba(68, 40, 0, 0.3)),
    url("/assets/tree_pattern.png");
    background-repeat:repeat;
    background-attachment: fixed;
    background-size: 1500px;
    background-position: -2000% 50%;
}

.bg-6-1 {
    background-image:
    linear-gradient(rgba(133, 82, 12, 0.4), rgba(255, 255, 255, 0.3)),
    url("/assets/tree_pattern.png");
    backdrop-filter: blur(2px);
    backdrop-filter: invert(-10%);
    background-repeat:repeat;
    background-attachment: fixed;
    background-size: 1000px;
    background-position: -200% 50%;
}

.bg-6-1 {
  background-image:
  linear-gradient(rgba(133, 82, 12, 0.4), rgba(255, 255, 255, 0.3)),
  url("/assets/tree_pattern.png");
  backdrop-filter: blur(2px);
  backdrop-filter: invert(-10%);
  background-repeat:repeat;
  background-attachment: fixed;
  background-size: 500px;
  background-position: -220% 50%;
}